In [3]:
import torch
import pandas as pd
import os

In [7]:
ids = pd.read_csv("ids.csv", header=None, names=['f.eid'])

all_labels = pd.read_csv("all_labels_CMR_pretrain.csv")
print(all_labels.shape)

ids = pd.read_csv("/home/abujalancegome/deep_risk/ukbb_cardiac/data/ids_cropped_images.csv", header=None, names=['f.eid'])

all_labels = pd.read_csv("labels_CMR_diastole_systole_13_3D.csv", header=None, names=[0, 1, 2, 3, 4,
                                                                                      5, 6, 7, 8, 9,
                                                                                      10, 11, 12, 'f.eid' ])
print(all_labels.shape)


all_labels.head()

(502166, 84)
(39200, 14)

,0,1,2,3,4,5,6,7,8,9,10,11,12,f.eid
0,155.000,68.0546,86.9457,56.0939,5.02576,99.7389,157.604,69.2562,88.3475,56.0568,6.19580,-21.7976,36.7676,1000040
1,147.387,47.3661,100.0210,67.8629,6.43915,88.6461,150.032,55.2661,94.7660,63.1638,5.77890,-23.9178,50.1079,1000088
2,136.385,43.5863,92.7992,68.0419,6.26316,91.4027,168.515,58.4276,110.0870,65.3278,6.65442,-28.5302,57.2235,1000154
3,129.668,47.2611,82.4065,63.5521,4.99434,61.3293,122.558,49.7310,72.8275,59.4227,4.48999,-22.5624,45.0071,1000216
4,216.814,74.9636,141.8500,65.4249,7.58556,152.3770,244.149,92.5196,151.6290,62.1053,7.61027,-25.0442,52.8128,1000346

In [3]:
ids_to_drop = [1357232, 1606024, 1756573, 1693054, 1903487, 2132506, 2344548, 2563947, 2706368, 3260781,
               3303947, 3728113, 3750605, 4113797, 4313384, 4476590, 4553691, 4575995, 4623638, 4859492,
               5405990, 5516382, 5627107]

In [ ]:
ids_to_keep = ...

In [8]:
labels_for_cmr = all_labels.loc[all_labels['f.eid'].isin(ids['f.eid'])]
print(labels_for_cmr.shape)

labels_for_cmr = labels_for_cmr[labels_for_cmr['f.eid'].isin(ids['f.eid'])].reset_index(drop=True)
print(labels_for_cmr.shape)

# labels_for_cmr = labels_for_cmr.drop(columns=["Unnamed: 0", 'index'])

labels_for_cmr.head()

(34107, 14)
(34107, 14)

,0,1,2,3,4,5,6,7,8,9,10,11,12,f.eid
0,155.000,68.0546,86.9457,56.0939,5.02576,99.7389,157.604,69.2562,88.3475,56.0568,6.19580,-21.7976,36.7676,1000040
1,147.387,47.3661,100.0210,67.8629,6.43915,88.6461,150.032,55.2661,94.7660,63.1638,5.77890,-23.9178,50.1079,1000088
2,136.385,43.5863,92.7992,68.0419,6.26316,91.4027,168.515,58.4276,110.0870,65.3278,6.65442,-28.5302,57.2235,1000154
3,129.668,47.2611,82.4065,63.5521,4.99434,61.3293,122.558,49.7310,72.8275,59.4227,4.48999,-22.5624,45.0071,1000216
4,216.814,74.9636,141.8500,65.4249,7.58556,152.3770,244.149,92.5196,151.6290,62.1053,7.61027,-25.0442,52.8128,1000346

In [4]:
pd.set_option('display.max_rows', None)
labels_for_cmr.isna().sum()[labels_for_cmr.isna().sum() > 0]

Series([], dtype: int64)

In [9]:
# cols_to_drop = [f'f.241{i}.2.0' for i in range(10, 24)]
cols_to_drop = [f'f.241{i}.2.0' for i in range(18, 24)]

labels_for_cmr = labels_for_cmr.drop(columns=cols_to_drop)

labels_for_cmr.isna().sum()[labels_for_cmr.isna().sum() > 0]

KeyError: "['f.24118.2.0', 'f.24119.2.0', 'f.24120.2.0', 'f.24121.2.0', 'f.24122.2.0', 'f.24123.2.0'] not found in axis"

In [10]:
labels_for_cmr = labels_for_cmr.reset_index()

labels_for_cmr.head()

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,f.eid
0,0,155.000,68.0546,86.9457,56.0939,5.02576,99.7389,157.604,69.2562,88.3475,56.0568,6.19580,-21.7976,36.7676,1000040
1,1,147.387,47.3661,100.0210,67.8629,6.43915,88.6461,150.032,55.2661,94.7660,63.1638,5.77890,-23.9178,50.1079,1000088
2,2,136.385,43.5863,92.7992,68.0419,6.26316,91.4027,168.515,58.4276,110.0870,65.3278,6.65442,-28.5302,57.2235,1000154
3,3,129.668,47.2611,82.4065,63.5521,4.99434,61.3293,122.558,49.7310,72.8275,59.4227,4.48999,-22.5624,45.0071,1000216
4,4,216.814,74.9636,141.8500,65.4249,7.58556,152.3770,244.149,92.5196,151.6290,62.1053,7.61027,-25.0442,52.8128,1000346

In [11]:
# get the training, val, test data splits

train_ids = pd.read_csv("ids_cmr_pretrain_train.csv", header=None, names=['f.eid'])
print("train_ids shape:", train_ids.shape)

val_ids = pd.read_csv("ids_cmr_pretrain_val.csv", header=None, names=['f.eid'])
print("val_ids shape:", val_ids.shape)

test_ids = pd.read_csv("ids_cmr_pretrain_test.csv", header=None, names=['f.eid'])
print("test_ids shape:", test_ids.shape)

train_labels_for_cmr = labels_for_cmr.loc[labels_for_cmr['f.eid'].isin(train_ids['f.eid'])]
train_labels_for_cmr = train_ids.merge(train_labels_for_cmr, on='f.eid', how='left')

print("train_labels ids shape:", train_ids.shape)

val_labels_for_cmr = labels_for_cmr.loc[labels_for_cmr['f.eid'].isin(val_ids['f.eid'])]
val_labels_for_cmr = val_ids.merge(val_labels_for_cmr, on='f.eid', how='left')

test_labels_for_cmr = labels_for_cmr.loc[labels_for_cmr['f.eid'].isin(test_ids['f.eid'])]
test_labels_for_cmr = test_ids.merge(test_labels_for_cmr, on='f.eid', how='left')

train_ids shape: (27459, 1)
val_ids shape: (5884, 1)
test_ids shape: (5885, 1)
train_labels ids shape: (27459, 1)

In [12]:
val_labels_for_cmr.head()

,f.eid,index,0,1,2,3,4,5,6,7,8,9,10,11,12
0,5023434,27381.0,156.269,68.1548,88.1139,56.3862,5.41684,101.8420,179.332,72.3936,106.9380,59.6315,6.20095,-23.2610,52.9072
1,1850035,5808.0,204.731,89.3822,115.3490,56.3417,6.75214,82.0761,181.835,77.0997,104.7350,57.5991,5.07679,-19.6154,46.1005
2,4945826,26859.0,178.476,61.9083,116.5680,65.3129,7.34673,108.2620,186.834,90.7914,96.0429,51.4054,6.12378,-21.5872,38.2113
3,5618334,31396.0,108.140,48.4293,59.7105,55.2160,4.62275,73.4900,127.164,64.7837,62.3806,49.0551,5.90620,-19.0618,44.9784
4,3946754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
test_labels_for_cmr.head()

train_labels_for_cmr.isna().sum()

f.eid       0
index    3616
0        3616
1        3616
2        3616
3        3616
4        3616
5        3616
6        3616
7        3616
8        3616
9        3616
10       3616
11       3616
12       3616
dtype: int64

In [9]:
test_labels_for_cmr.head()

     f.eid    index        0        1        2        3        4
0  2468810   9880.0  53.6360  84.9431  5.02622  58.0417  88.6813
1  3030571  13729.0  83.6748  89.9162  5.27368  88.3809  85.4438
2  4137704  21322.0  60.7786  84.1087  4.71638  78.8019  77.7338
3  3903827  19732.0  46.8606  90.1165  5.50050  53.5025  87.7801
4  3849778  19380.0  70.0906  75.9982  4.66247  54.0031  72.3268

In [14]:
# cmr_tensor[CL_idx]
output_dir = "/projects/prjs1252/CL_data"
tensor_dir = "/scratch-shared/abujalancegome/CL_data"
full_tensor = torch.load(os.path.join(tensor_dir, "cmr_tensors_ts_all_diastole.pt"))

test_labels_for_cmr = test_labels_for_cmr.dropna()
test_tensor = full_tensor[test_labels_for_cmr["index"].astype(int).values]
test_tensor = test_tensor.unsqueeze(1)

test_tensor.shape

torch.Size([5134, 1, 6, 85, 92])

In [15]:
val_labels_for_cmr = val_labels_for_cmr.dropna()

val_tensor = full_tensor[val_labels_for_cmr["index"].astype(int).values]
val_tensor = val_tensor.unsqueeze(1)

val_tensor.shape

torch.Size([5113, 1, 6, 85, 92])

In [16]:
train_labels_for_cmr = train_labels_for_cmr.dropna()

train_tensor = full_tensor[train_labels_for_cmr["index"].astype(int).values]
train_tensor = train_tensor.unsqueeze(1)

train_tensor.shape

torch.Size([23843, 1, 6, 85, 92])

In [25]:
torch.save(train_tensor, os.path.join(output_dir, f"cmr_tensors_diastole_train_3D_labels.pt"))
torch.save(val_tensor, os.path.join(output_dir, f"cmr_tensors_diastole_val_3D_labels.pt"))
torch.save(test_tensor, os.path.join(output_dir, f"cmr_tensors_diastole_test_3D_labels.pt"))

In [18]:
test_labels_for_cmr = test_labels_for_cmr.drop(columns=["f.eid", "index"])
test_labels_for_cmr.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,138.579,53.6360,84.9431,61.2958,5.02622,71.1420,146.723,58.0417,88.6813,60.4413,4.96246,-25.3883,45.7740
1,173.591,83.6748,89.9162,51.7977,5.27368,95.8139,173.825,88.3809,85.4438,49.1551,5.76973,-17.1946,34.1924
2,144.887,60.7786,84.1087,58.0511,4.71638,80.1837,156.536,78.8019,77.7338,49.6588,5.66473,-16.4712,40.3363
3,136.977,46.8606,90.1165,65.7895,5.50050,64.3081,141.283,53.5025,87.7801,62.1309,4.55645,-23.0026,48.8451
4,146.089,70.0906,75.9982,52.0219,4.66247,99.3534,126.330,54.0031,72.3268,57.2523,6.38971,-18.6974,34.7862

In [20]:
test_labels_for_cmr.to_csv('labels_CMR_diastole_CMR_pretrain_tst_13_labels.csv', header=False, index=False)

In [21]:
train_labels_for_cmr = train_labels_for_cmr.drop(columns=["f.eid", "index"])
train_labels_for_cmr.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,129.968,39.7848,90.1832,69.3888,6.01222,73.8404,126.297,51.9338,74.3628,58.8795,5.26778,-24.7374,60.0898
2,134.320,46.4867,87.8328,65.3910,5.86204,107.4850,145.636,59.2086,86.4275,59.3448,6.74536,-24.7388,40.8088
3,162.076,69.8570,92.2192,56.8987,4.42652,76.8193,162.777,65.8518,96.9253,59.5448,5.04355,-22.3267,42.3702
4,119.679,42.8439,76.8351,64.2010,3.86106,61.4980,116.280,39.5195,76.7604,66.0135,4.94392,-24.5935,50.7587
6,163.678,81.4720,82.2063,50.2243,4.34188,108.3600,194.218,95.6904,98.5274,50.7304,6.66792,-16.7247,29.9994

In [22]:
train_labels_for_cmr.to_csv('labels_CMR_diastole_CMR_pretrain_trn_13_labels.csv', header=False, index=False)

In [23]:
val_labels_for_cmr = val_labels_for_cmr.drop(columns=["f.eid", "index"])
val_labels_for_cmr.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,156.269,68.1548,88.1139,56.3862,5.41684,101.8420,179.332,72.3936,106.9380,59.6315,6.20095,-23.2610,52.9072
1,204.731,89.3822,115.3490,56.3417,6.75214,82.0761,181.835,77.0997,104.7350,57.5991,5.07679,-19.6154,46.1005
2,178.476,61.9083,116.5680,65.3129,7.34673,108.2620,186.834,90.7914,96.0429,51.4054,6.12378,-21.5872,38.2113
3,108.140,48.4293,59.7105,55.2160,4.62275,73.4900,127.164,64.7837,62.3806,49.0551,5.90620,-19.0618,44.9784
5,165.214,78.8686,86.3449,52.2626,6.72818,90.2066,154.767,79.5361,75.2306,48.6090,5.35356,-12.8462,16.2172

In [24]:
val_labels_for_cmr.to_csv('labels_CMR_diastole_CMR_pretrain_val_13_labels.csv', header=False, index=False)

## Obtain Train / Val / Test Splits with less prediction labels

In [2]:
# given the initial CMR pretrain labels, get a subselection of them

r2_labels = ['LV end diastolic volume', 'LV end systolic volume', 'LV stroke volume', 'LV ejection fraction', 'LV cardiac output',
            'LV myocardial mass', 'RV end diastolic volume', 'RV end systolic volume', 'RV stroke volume', 'RV ejection fraction',
            'LA maximum volume', 'LA minimum volume', 'LA stroke volume', 'LA ejection fraction', 'RA maximum volume',
            'RA minimum volume', 'RA stroke volume', 'RA ejection fraction', 'LV mean myocardial wall thickness AHA 1',
            'LV mean myocardial wall thickness AHA 2', 'LV mean myocardial wall thickness AHA 3', 'LV mean myocardial wall thickness AHA 4', 'LV mean myocardial wall thickness AHA 5', 'LV mean myocardial wall thickness AHA 6',
            'LV mean myocardial wall thickness AHA 7', 'LV mean myocardial wall thickness AHA 8', 'LV mean myocardial wall thickness AHA 9', 'LV mean myocardial wall thickness AHA 10', 'LV mean myocardial wall thickness AHA 11',
            'LV mean myocardial wall thickness AHA 12', 'LV mean myocardial wall thickness AHA 13', 'LV mean myocardial wall thickness AHA 14', 'LV mean myocardial wall thickness AHA 15', 'LV mean myocardial wall thickness AHA 16',
            'LV mean myocardial wall thickness global', 'LV circumferential strain AHA 1', 'LV circumferential strain AHA 2', 'LV circumferential strain AHA 3', 'LV circumferential strain AHA 4',
            'LV circumferential strain AHA 5', 'LV circumferential strain AHA 6', 'LV circumferential strain AHA 7', 'LV circumferential strain AHA 8', 'LV circumferential strain AHA 9',
            'LV circumferential strain AHA 10', 'LV circumferential strain AHA 11', 'LV circumferential strain AHA 12', 'LV circumferential strain AHA 13', 'LV circumferential strain AHA 14',
            'LV circumferential strain AHA 15', 'LV circumferential strain AHA 16', 'LV circumferential strain global', 'LV radial strain AHA 1', 'LV radial strain AHA 2',
            'LV radial strain AHA 3', 'LV radial strain AHA 4', 'LV radial strain AHA 5', 'LV radial strain AHA 6', 'LV radial strain AHA 7',
            'LV radial strain AHA 8', 'LV radial strain AHA 9', 'LV radial strain AHA 10', 'LV radial strain AHA 11', 'LV radial strain AHA 12',
            'LV radial strain AHA 13', 'LV radial strain AHA 14', 'LV radial strain AHA 15', 'LV radial strain AHA 16', 'LV radial strain global',
            'LV longitudinal strain Segment 1', 'LV longitudinal strain Segment 2', 'LV longitudinal strain Segment 3', 'LV longitudinal strain Segment 4', 'LV longitudinal strain Segment 5',
            'LV longitudinal strain Segment 6', 'LV longitudinal strain global']

df = pd.read_csv('all_labels_CMR_pretrain_tst2.csv', header=None,
                 names=r2_labels)
labels_3d = ['LV end diastolic volume', 'LV end systolic volume', 'LV stroke volume', 'LV ejection fraction', 'LV cardiac output', 'LV myocardial mass', 'RV end diastolic volume',
                   'RV end systolic volume', 'RV stroke volume', 'RV ejection fraction', 'LV mean myocardial wall thickness global', 'LV circumferential strain global',
                   'LV radial strain global']

df_3D_labels = df[labels_3d]

df_3D_labels.head()

,LV end diastolic volume,LV end systolic volume,LV stroke volume,LV ejection fraction,LV cardiac output,LV myocardial mass,RV end diastolic volume,RV end systolic volume,RV stroke volume,RV ejection fraction,LV mean myocardial wall thickness global,LV circumferential strain global,LV radial strain global
0,138.579,53.6360,84.9431,61.2958,5.02622,71.1420,146.723,58.0417,88.6813,60.4413,4.96246,-25.3883,45.7740
1,173.591,83.6748,89.9162,51.7977,5.27368,95.8139,173.825,88.3809,85.4438,49.1551,5.76973,-17.1946,34.1924
2,144.887,60.7786,84.1087,58.0511,4.71638,80.1837,156.536,78.8019,77.7338,49.6588,5.66473,-16.4712,40.3363
3,136.977,46.8606,90.1165,65.7895,5.50050,64.3081,141.283,53.5025,87.7801,62.1309,4.55645,-23.0026,48.8451
4,146.089,70.0906,75.9982,52.0219,4.66247,99.3534,126.330,54.0031,72.3268,57.2523,6.38971,-18.6974,34.7862

In [3]:
df_3D_labels.mean()

LV end diastolic volume                     148.249974
LV end systolic volume                       60.722247
LV stroke volume                             87.527732
LV ejection fraction                         59.475196
LV cardiac output                             5.433267
LV myocardial mass                           86.336484
RV end diastolic volume                     156.885983
RV end systolic volume                       67.773793
RV stroke volume                             89.112185
RV ejection fraction                         57.236969
LV mean myocardial wall thickness global      5.704225
LV circumferential strain global            -22.279857
LV radial strain global                      44.982056
dtype: float64

In [4]:
df_3D_labels.isna().sum()

LV end diastolic volume                      0
LV end systolic volume                       0
LV stroke volume                             0
LV ejection fraction                         0
LV cardiac output                            0
LV myocardial mass                           0
RV end diastolic volume                      0
RV end systolic volume                       0
RV stroke volume                             0
RV ejection fraction                         0
LV mean myocardial wall thickness global     6
LV circumferential strain global            13
LV radial strain global                     13
dtype: int64

In [5]:
df_3D_labels.to_csv('labels_3D_CMR_pretrain_tst.csv', header=False, index=False)

In [6]:
df = pd.read_csv('all_labels_CMR_pretrain_trn2.csv', header=None,
                 names=r2_labels)
labels_3d = ['LV end diastolic volume', 'LV end systolic volume', 'LV stroke volume', 'LV ejection fraction', 'LV cardiac output', 'LV myocardial mass', 'RV end diastolic volume',
                   'RV end systolic volume', 'RV stroke volume', 'RV ejection fraction', 'LV mean myocardial wall thickness global', 'LV circumferential strain global',
                   'LV radial strain global']

df_3D_labels = df[labels_3d]

df_3D_labels.head()

,LV end diastolic volume,LV end systolic volume,LV stroke volume,LV ejection fraction,LV cardiac output,LV myocardial mass,RV end diastolic volume,RV end systolic volume,RV stroke volume,RV ejection fraction,LV mean myocardial wall thickness global,LV circumferential strain global,LV radial strain global
0,129.968,39.7848,90.1832,69.3888,6.01222,73.8404,126.297,51.9338,74.3628,58.8795,5.26778,-24.7374,60.0898
1,134.340,61.4127,72.9276,54.2857,3.06419,89.9613,170.587,83.2743,87.3129,51.1837,6.54722,-22.9935,43.4272
2,134.320,46.4867,87.8328,65.3910,5.86204,107.4850,145.636,59.2086,86.4275,59.3448,6.74536,-24.7388,40.8088
3,162.076,69.8570,92.2192,56.8987,4.42652,76.8193,162.777,65.8518,96.9253,59.5448,5.04355,-22.3267,42.3702
4,119.679,42.8439,76.8351,64.2010,3.86106,61.4980,116.280,39.5195,76.7604,66.0135,4.94392,-24.5935,50.7587

In [7]:
df_3D_labels.mean()

LV end diastolic volume                     147.606382
LV end systolic volume                       60.320325
LV stroke volume                             87.286052
LV ejection fraction                         59.548714
LV cardiac output                             5.416301
LV myocardial mass                           85.911279
RV end diastolic volume                     156.301675
RV end systolic volume                       67.434447
RV stroke volume                             88.867228
RV ejection fraction                         57.288780
LV mean myocardial wall thickness global      5.693503
LV circumferential strain global            -22.288630
LV radial strain global                      45.047204
dtype: float64

In [8]:
df_3D_labels.isna().sum()

LV end diastolic volume                      0
LV end systolic volume                       0
LV stroke volume                             0
LV ejection fraction                         0
LV cardiac output                            0
LV myocardial mass                           0
RV end diastolic volume                      0
RV end systolic volume                       0
RV stroke volume                             0
RV ejection fraction                         0
LV mean myocardial wall thickness global    38
LV circumferential strain global            49
LV radial strain global                     49
dtype: int64

In [9]:
df_3D_labels.to_csv('labels_3D_CMR_pretrain_trn.csv', header=False, index=False)

In [10]:
df = pd.read_csv('all_labels_CMR_pretrain_val2.csv', header=None,
                 names=r2_labels)

labels_3d = ['LV end diastolic volume', 'LV end systolic volume', 'LV stroke volume', 'LV ejection fraction', 'LV cardiac output', 'LV myocardial mass', 'RV end diastolic volume',
                   'RV end systolic volume', 'RV stroke volume', 'RV ejection fraction', 'LV mean myocardial wall thickness global', 'LV circumferential strain global',
                   'LV radial strain global']

df_3D_labels = df[labels_3d]

df_3D_labels.head()

,LV end diastolic volume,LV end systolic volume,LV stroke volume,LV ejection fraction,LV cardiac output,LV myocardial mass,RV end diastolic volume,RV end systolic volume,RV stroke volume,RV ejection fraction,LV mean myocardial wall thickness global,LV circumferential strain global,LV radial strain global
0,156.269,68.1548,88.1139,56.3862,5.41684,101.8420,179.332,72.3936,106.9380,59.6315,6.20095,-23.2610,52.9072
1,204.731,89.3822,115.3490,56.3417,6.75214,82.0761,181.835,77.0997,104.7350,57.5991,5.07679,-19.6154,46.1005
2,178.476,61.9083,116.5680,65.3129,7.34673,108.2620,186.834,90.7914,96.0429,51.4054,6.12378,-21.5872,38.2113
3,108.140,48.4293,59.7105,55.2160,4.62275,73.4900,127.164,64.7837,62.3806,49.0551,5.90620,-19.0618,44.9784
4,135.671,69.9271,65.7437,48.4583,4.60820,87.4719,142.775,62.0292,80.7461,56.5547,6.58319,-23.8360,54.8209

In [11]:
df_3D_labels.to_csv('labels_3D_CMR_pretrain_val.csv', header=False, index=False)